<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Miko Foto Studio</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <script type="text/javascript" src="../js/imageFile.js"></script>
    <script type="text/javascript" src="../js/watermark.js"></script>
    <script type="text/javascript" src="../vendor/jquery/jquery-3.2.1.min.js"></script>


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Dodaj zdjęcia dla: <span th:text="${userLogin}"></span></h1>

            <div class="list-group">
                <form action="fileUpload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Select File</label>
                        <input id="photo" class="form-control" type="file" name="file">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                    <input id="userId" th:value="${userId}" type="hidden" />
                </form>
                <a><br> </a>
                <a class="list-group-item">Dodano zdjęć:<span th:text="${count}"></span> </a>
                <a th:href="@{/admin}" class="list-group-item">Save and back to Admin Page</a>
                <a class="list-group-item">Login: <span th:text="${userLogin}"></span></a>
                <a class="list-group-item">Password: <span th:text="${userPassword}"></span></a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">


            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4" th:each="file : ${fileList}">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" th:src="@{'/image/'+${file}}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:text="${file}">Picture</a>
                            </h4>

                        </div>
                        <div class="card-footer">

                            <small class="text-muted"><a th:href="@{/delete/}+${userId}+'/'+${file}"> <img
                                    src="\images\icons\trash.png" style="width: 17px; height: 17px;"></a></small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Andy & TheSpiochu</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<script type="text/javascript">
    $(function() {
        $('button[type=submit]').click(function(e) {
            e.preventDefault();
            //Disable submit button
            $(this).prop('disabled',true);

            var form = document.forms[0];
            var formData = new FormData();

            var dataurl = null;
            var filesToUpload = document.getElementById('photo').files;
            var file = filesToUpload[0];
            var filename = file.name;
            var userId = document.getElementById('userId').value;

            // Create an image
            var img = document.createElement("img");
            // Create a file reader
            var reader = new FileReader();
            // Set the image once loaded into file reader
            reader.onload = function(e)
            {
                img.src = e.target.result;

                img.onload = function () {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);

                    var MAX_WIDTH = 800;
                    var MAX_HEIGHT = 600;
                    var width = img.width;
                    var height = img.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, width, height);

                    dataurl = canvas.toDataURL("image/jpeg");
                    var blob = dataURItoBlob(dataurl);
                    formData.append("file", blob);
                    formData.append("filename", filename);

                    $.ajax({
                        url : '/photoAdmin/' + userId,
                        type : 'POST',
                        method : 'POST',
                        data : formData,
                        cache : false,
                        contentType : false,
                        processData : false
                    });
                }
            }
            // Load files into file reader
            reader.readAsDataURL(file);
        });
    });
</script>

</body>

</html>
